body {
    margin: 0;
    font-family: Poppins;
    background-color: #b3c8dd;
}
  
  .topnav {
    overflow: hidden;
    background-color: #001C55;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #A6E1FA;
    color: black;
  }
  
  .topnav a.active {
    background-color: #0E6BA8;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  

.title_audio {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.audio_blurb {
  text-align:center;
  font-weight:bold;
  font-size:20px;
}

.legend {
	text-align:center;
}

.graph {
	margin-bottom:1em;
  margin-top:25px;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  font:normal 100%/150% Poppins;
  font-size: large;
}

.graph caption {
	font:bold 150%/120% Poppins;
	padding-bottom:0.33em;
}

.graph tbody th {
	text-align:center;
}

.graph td {
	text-align:center;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .title_audio {
    display: block;
    float:left;
    padding-left:75px;
    padding-right:65px;
  }
  .audio_blurb {
    text-align:center;
    font-weight:bold;
  }
  .graph {
    margin-bottom:1em;
    margin-left: 100px;
    margin-right: 65px;
    width: 50%;
	float:left;
    font:normal 100%/150% Poppins;
    font-size: normal;
    margin-top:10px;
  }
  .legend {
	  text-align:center;
	  margin-top:100px;
  }
}

@supports (display:grid) {

	@media (min-width:32em) {

		.graph {
			display:block;
      		width:600px;
     		height:300px;
			 margin-top:0;
		}

		.graph caption {
			display:block;
		}

		.graph thead {
			display:none;
		}

		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%
			);
		}

		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% Poppins;
      font-size: large;
      margin:auto;
		}

		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.graph tr {
			position:relative;
			display:block;
		}

		.graph tr:hover {
			z-index:999;
		}

		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}

		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
      		font-size:large;
			text-align:center;
      		white-space:nowrap;
			text-indent:0;
			transform:rotate(-25deg);
		}

		.graph tbody th:after {
			content:"";
		}

		.graph td {
			width:100%;
			height:100%;
			background:#694581;
			border-radius:0.5em 0.5em 0 0;
			transition:0.5s;
		}

		.graph tr:hover td {
			opacity:0.7;
		}

		.graph td span {
			overflow:hidden;
			position:absolute;
			left:50%;
			top:50%;
			width:0;
			padding:0.5em 0;
			margin:-1em 0 0;
			font:normal 85%/120% Poppins;
      		font-size:normal;
			font-weight:bold;
			opacity:0;
			transition:opacity 0.5s;
      color:white;
		}

		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em; /* 1/2 the declared width */
			opacity:1;
		}

	} /* min-width:32em */

} /* grid only */


